.navigation-bar{
    padding-left: 0.5rem;
}

.header{
    background-color: #EEEEEE;
    position: relative;
    padding: 1rem 0;
    text-align: center;
}

.middle-div{
    background-color: #EEEEEE;
}

.product-grid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(290px,1fr));
    justify-content: center;
    align-content: center;
    background-color: white;
    padding: 2rem;
}

.product-card{
    margin: 1rem 0 0 0;
    text-align: center;
    width: auto;
    width: 13rem;
    flex:1;
}

.product-col{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;

}

.product-img {
    margin-left: auto;
    margin-right:auto;
    max-width: 7rem;
    height: 7rem;;
}

.card-header{
    border-color: black;
}

.qty {
    margin-top: 1rem;
}

.footer{
    background-color: #EEEEEE;
    position: relative;
    padding: 3rem 0;
    text-align: center;
}

